body {
    background: #685268;
    overflow: hidden;
    margin: 0;
}

div {
    width: 70%;
    margin-left: 15%;
    position: absolute;
}

canvas {
    width: 100%;
    height: 100vh;
    background:black;
    object-fit: cover;
    image-rendering: pixelated;
    display: block;
}